<form method="POST">
  <h1>Delete car</h1>
  <h3>Marc: {{car.marc}}</h3>
  <img class="product-img" src="{{car.image}}" alt="car image">
  <h3>Model: {{car.model}}</h3>
  <h3>Year: {{car.year}}</h3>
  <h3>Price per day: {{car.price}}</h3>
  <input id="submit" type="submit" value="Delete">
</form>