<h1>Car details</h1>
<h3>Marc: {{car.marc}}</h3>
<img class="product-img" src="{{car.image}}" alt="car image">
<h3>Model: {{car.model}}</h3>
<h3>Year: {{car.year}}</h3>
<h3>Price per day: {{car.price}}</h3>
<a href="/rentCar/{{car._id}}">Rent</a>