<form method="POST">
  <h1>Rent Car</h1>
  <h3>Marc: {{car.marc}}</h3>
  <img src="{{car.image}}" alt="car image">
  <h3>Model: {{car.model}}</h3>
  <h3>Year: {{car.year}}</h3>
  <h3>Price per day: {{car.price}}</h3>
  <input name="date" type="date" />
  <input name="days" type="number" placeholder="add rented days" />
  <input id="submit" type="submit" value="Rent">
</form>